// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

// Styling for page sections
.page-section {
    padding: 6rem 0;

    .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
        .page-section-heading {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

.text-gold {
    color: $gold;
}

.bg-alpha {
    background-color: #00000000;
}

.badge-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.store-badge {
    width: 16rem;
    margin-bottom: 2rem !important;
}

.screenshot {
    width: 16rem;
    margin-left: auto !important;
}

.fader {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.fader.visible {
    opacity: 1;
    transform: translate(0, 0);
}